---
title: پروانه های حق تکثیر
layout: article.swig
---

<p>
قوانین حق تکثیر قوانینی هستند که روی تکثیر داده ها محدودیت می گذارند و به کمک آن
می توان داده ها را انحصار کرد. اما کسانی که می خواهند داده های خود را به صورت عمومی منتشر
کنند نیز باید از طریق همین قانون این موضوع را صراحتا اعلام کنند وگرنه ممکن است برای
استفاده کننده مشکل ایجاد شود. پروانه های آماده ای برای این کار وجود دارد که به کمک
آن ها می توان این کار را به راحتی انجام داد. کافیست که اعلام کنید: <b>تمام حقوق
محفوظ است، این داده عمومی است و می توانید تحت پروانه فلان از آن استفاده کنید. </b>
</p>

<p>
تفاوت این پروانه ها در دو چیز است، یکی نوع داده ای که پشتیبانی می کنند
(مثلا برخی از پروانه ها تنها برای نرم افزار ها قابل استفاده هستند.)
و دیگری محدودیت هایی که برای استفاده از داده می گذارند
(برای مثال برخی از پروانه ها
<a href="/articles/what-is-copyleft">کپی لفت</a>
هستند
)
در جدول زیر، پروانه های معروف را با هم مقایسه کرده ایم:
</p>

<table class="w3-light-grey">
  <thead>
    <tr>
      <th>
        نام
      </th>
      <th>
        مناسب برای
      </th>
      <th>
        کپی لفت
      </th>
      <th>
        استفاده تجاری
      </th>
      <th>
        تخصیص
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="/license/public-domain">مالکیت عمومی</a>
      </td>
      <td>
        همه چیز
      </td>
      <td class="w3-red">
        خیر
      </td>
      <td class="w3-green">
        آزاد
      </td>
      <td>
        خیر
      </td>
    </tr>
    <tr>
      <td>
        <a href="/license/gpl3">GPL-3</a>
      </td>
      <td>
        نرم افزار
      </td>
      <td class="w3-green">
        بله
      </td>
      <td class="w3-green">
        آزاد
      </td>
      <td>
        بله
      </td>
    </tr>
    <tr>
      <td>
        <a href="/license/cc0">cc0</a>
      </td>
      <td>
        همه چیز
      </td>
      <td class="w3-red">
        خیر
      </td>
      <td class="w3-green">
        آزاد
      </td>
      <td>
        خیر
      </td>
    </tr>
    <tr>
      <td>
        <a href="/license/cc-by">cc-by</a>
      </td>
      <td>
        همه چیز
      </td>
      <td class="w3-red">
        خیر
      </td>
      <td class="w3-green">
        آزاد
      </td>
      <td>
        بله
      </td>
    </tr>
    <tr>
      <td>
        <a href="/license/cc-by-sa">cc-by-sa</a>
      </td>
      <td>
        همه چیز
      </td>
      <td class="w3-green">
        بله
      </td>
      <td class="w3-green">
        آزاد
      </td>
      <td>
        بله
      </td>
    </tr>
    <tr>
      <td>
        <a href="/license/cc-by-sa-nc">cc-by-sa-nc</a>
      </td>
      <td>
        همه چیز
      </td>
      <td class="w3-green">
        بله
      </td>
      <td class="w3-red">
        ممنوع
      </td>
      <td>
        بله
      </td>
    </tr>
    <tr>
      <td>
        <a href="/license/mit">mit</a>
      </td>
      <td>
        نرم افزار
      </td>
      <td class="w3-red">
        خیر
      </td>
      <td class="w3-green">
        آزاد
      </td>
      <td>
        بله
      </td>
    </tr>
  </tbody>
</table>

<style>
table {
  width: 100%;
}
td {
  text-align: center;
}
</style>